# .gitignore file
#
# RELEASE BRANCH Setup for Microchip/MPLAB X development environment
# The only files allowed in this release branch are hex files of release 
# versions and binaries of additional tools required to operate the 
# hardware.
#
# Created: June 05, 2019, M91406
# Updated: 

# Exclude all project files and folders
*.*
*.c
*.h
common/
src/
h/
dspic/h/
dspic/src/
dspic/build/
dspic/debug/
dspic/disassembly/
dspic/dist/
dspic/nbproject/
dspic/nbproject/*.*
pic24/h/
pic24/src/
pic24/build/
pic24/debug/
pic24/disassembly/
pic24/dist/
pic24/nbproject/
pic24/nbproject/*.*

# include build-folders, HEX files and Executables
!*/dist/
!*.map
!*.xml
!*.elf
!*.hex
!*.exe

# Additionally ignored files add by SourceTree
dcdt_project.xml
dspic/Makefile
pic24/Makefile
dspic/dist/MA330048_R30/debug/memoryfile.xml
dspic/dist/MA330048_R30/debug/dspic.debug.map
dspic/dist/MA330048_R30/debug/dspic.debug.elf
dspic/dist/MA330048_R30/production/memoryfile.xml
dspic/dist/MA330048_R30/production/dspic.production.map
dspic/dist/MA330048_R30/production/dspic.production.hex
dspic/dist/MA330048_R30/production/dspic.production.elf
dspic/dist/DPSK3_R30/debug/memoryfile.xml
dspic/dist/DPSK3_R30/debug/dspic.debug.map
dspic/dist/DPSK3_R30/debug/dspic.debug.elf
